<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="         http://xmlns.jcp.org/xml/ns/javaee         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            WEB-INF/beans-service.xml
            classpath:spring-beans.xml
        </param-value>
    </context-param>
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>
            org.apache.cxf.transport.servlet.CXFServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>OrdersServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ExploitationAreaFreeServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PosProductServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ReasonServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GoodsSetServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ProposedReceiptServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GoodsHandoverSerialServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PickingListServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ExploitationAreaServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>StockTransDetailServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>InventoryActionServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ZonesServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>MapStockServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>StockGoodsServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ZoneShelfServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>StockGoodsTotalServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ChangePositionServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>StockServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GoodsAddInforServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>StockGoodsSerialErrorServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>InventoryActionGoodsServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>StockGoodsSerialServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>StockGoodsSerialStripServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PickingListGoodsServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GoodsHandoverServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GoodsServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>HistoryFluctuationsServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>StockTransServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>InventoryResultServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>StockTransSerialServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GoodsPackingServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>StockExportServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>StockImportServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>MapStaffGoodsServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>HistoryChangeGoodsServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>KpiLogServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>MessagesServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CellsServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SerialInventoryServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>NoSerialInventoryServiceImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdersServiceImplService</servlet-name>
        <url-pattern>/OrdersServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExploitationAreaFreeServiceImplService</servlet-name>
        <url-pattern>/ExploitationAreaFreeServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PosProductServiceImplService</servlet-name>
        <url-pattern>/PosProductServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReasonServiceImplService</servlet-name>
        <url-pattern>/ReasonServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoodsSetServiceImplService</servlet-name>
        <url-pattern>/GoodsSetServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProposedReceiptServiceImplService</servlet-name>
        <url-pattern>/ProposedReceiptServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoodsHandoverSerialServiceImplService</servlet-name>
        <url-pattern>/GoodsHandoverSerialServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PickingListServiceImplService</servlet-name>
        <url-pattern>/PickingListServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExploitationAreaServiceImplService</servlet-name>
        <url-pattern>/ExploitationAreaServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockTransDetailServiceImplService</servlet-name>
        <url-pattern>/StockTransDetailServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryActionServiceImplService</servlet-name>
        <url-pattern>/InventoryActionServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZonesServiceImplService</servlet-name>
        <url-pattern>/ZonesServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MapStockServiceImplService</servlet-name>
        <url-pattern>/MapStockServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockGoodsServiceImplService</servlet-name>
        <url-pattern>/StockGoodsServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZoneShelfServiceImplService</servlet-name>
        <url-pattern>/ZoneShelfServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockGoodsTotalServiceImplService</servlet-name>
        <url-pattern>/StockGoodsTotalServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePositionServiceImplService</servlet-name>
        <url-pattern>/ChangePositionServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockServiceImplService</servlet-name>
        <url-pattern>/StockServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoodsAddInforServiceImplService</servlet-name>
        <url-pattern>/GoodsAddInforServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockGoodsSerialErrorServiceImplService</servlet-name>
        <url-pattern>/StockGoodsSerialErrorServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryActionGoodsServiceImplService</servlet-name>
        <url-pattern>/InventoryActionGoodsServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockGoodsSerialServiceImplService</servlet-name>
        <url-pattern>/StockGoodsSerialServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockGoodsSerialStripServiceImplService</servlet-name>
        <url-pattern>/StockGoodsSerialStripServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PickingListGoodsServiceImplService</servlet-name>
        <url-pattern>/PickingListGoodsServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoodsHandoverServiceImplService</servlet-name>
        <url-pattern>/GoodsHandoverServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoodsServiceImplService</servlet-name>
        <url-pattern>/GoodsServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryFluctuationsServiceImplService</servlet-name>
        <url-pattern>/HistoryFluctuationsServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockTransServiceImplService</servlet-name>
        <url-pattern>/StockTransServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryResultServiceImplService</servlet-name>
        <url-pattern>/InventoryResultServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockTransSerialServiceImplService</servlet-name>
        <url-pattern>/StockTransSerialServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoodsPackingServiceImplService</servlet-name>
        <url-pattern>/GoodsPackingServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockExportServiceImplService</servlet-name>
        <url-pattern>/StockExportServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockImportServiceImplService</servlet-name>
        <url-pattern>/StockImportServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MapStaffGoodsServiceImplService</servlet-name>
        <url-pattern>/MapStaffGoodsServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryChangeGoodsServiceImplService</servlet-name>
        <url-pattern>/HistoryChangeGoodsServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KpiLogServiceImplService</servlet-name>
        <url-pattern>/KpiLogServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessagesServiceImplService</servlet-name>
        <url-pattern>/MessagesServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CellsServiceImplService</servlet-name>
        <url-pattern>/CellsServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerialInventoryServiceImplService</servlet-name>
        <url-pattern>/SerialInventoryServiceImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoSerialInventoryServiceImplService</servlet-name>
        <url-pattern>/NoSerialInventoryServiceImplService</url-pattern>
    </servlet-mapping>
</web-app>
